@{
    ViewData["Title"] = "Rental4You";
}

<div class="home">
</div>
<div class="texto">
    <h1>Rental4You</h1>
    <h3>A procura de um veiculo? Está no sitio certo</h3>
</div>

<div class="texto2">
    <p>Olá bem vindo ao nosso site desenvolvido para poder experienciar e encontrar excelentes negócios!</p>
    <p>Pode encontrar aqui desde motos a ótimos veiculos com avaliações de outros utilizadores para que possa fazer a escolha certa!</p>

</div>
