@{
    ViewData["Title"] = "Rental4You";
}

<html>

    <body>
        <center>
            <div1>
                <h1> Rental4You </h1>
                <p>A procura de um veiculo? Está no sitio certo. </p>
            </div1>

            <div2>
                <h1> Pesquise. Compare. Alugue. </h1>
                <p>
                    ​Quer esteja a viajar com amigos e familiares, ou precise de uma
                    solução fácil para os seus compromissos de negócios, alugar um carro
                    pode poupar-lhe tempo, dinheiro e permite uma flexibilidade que não consegue
                    encontrar noutro local. A Rental4You especializa-se no aluguer de viaturas.
                </p>
            </div2>
            
            <div3>
                <h1> Reserve já! </h1>
                <p>Veiculos aos melhores preços.</p>
            </div3>

        </center>
    </body>
</html>
